<div class="carousel-image-wrapper">
    <div class="carousel-image-inline">
      <div class="img__wrap">
        <img class="img__img carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" />
        <div class="img__description_layer">
          <p class="img__description">This image looks super neat.</p>
        </div>
      </div>
      <div class="img__wrap">
          <img class="img__img carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" />
          <div class="img__description_layer">
            <p class="img__description">This image looks super neat.</p>
          </div>
        </div>
        <div class="img__wrap">
            <img class="img__img carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" />
            <div class="img__description_layer">
              <p class="img__description">This image looks super neat.</p>
            </div>
          </div>
          <div class="img__wrap">
              <img class="img__img carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" />
              <div class="img__description_layer">
                <p class="img__description">This image looks super neat.</p>
              </div>
            </div>
    </div>
</div>