<div class="carousel-image-wrapper">
    <div class="carousel-image-inline">
      <img class="carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg">
      <img class="carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg">
      <img class="carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg">
      <img class="carousel-image" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg">
    </div>
</div>